{% extends 'store/base.html' %}
{% load static %}


{% comment %} 
{% block search-bar %}
<nav class="navbar navbar-light bg-light">
    <form class="form-inline search-bar">
        <input class="form-control mr-sm-2 search" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>
{% endblock search-bar %} {% endcomment %}

{% block no-bootstrap %}{% endblock no-bootstrap %}

{% block head %}
<style>
    .test-btn {
        width:20px; 
        height: 20px; 
        background: crimson; 
        color: white;
        opacity: 0.8;
        border-radius: 3px;
        transition: all 0.3s;
    }
    .test-btn:hover {
        opacity: 1;
    }
</style>
{% endblock head %}


{% block content %}
<!-- ----------------------------------------------------------------------------------- -->
<!-- Categories -->
<!-- ----------------------------------------------------------------------------------- -->
<div class="small-container">
    <div class="row row-2">
        <h2>Category</h2>
    </div>

    <div class="row category-filter">
        {% for category in categories %}
        <div class="col-4">
            <input id="{{ category.number }}" type="checkbox" name="{{ category.number }}" value="" checked>
            <label for="{{ category.number }}">{{ category.name }}</label>
        </div>
        {% endfor %}
    </div>
</div>

<!-- ----------------------------------------------------------------------------------- -->
<!-- Products -->
<!-- ----------------------------------------------------------------------------------- -->
<div class="small-container">

    <div class="row row-2">
        <h2>All Products</h2>
        <select>
            <option>Default Sorting</option>
            <option>Sort by Price</option>
            <option>Sort by Popularity</option>
            <option>Sort by Rating</option>
            <option>Sort by Sale</option>
        </select>
    </div>

    <div class="row">
        {% for product in products %}
        <div class="col-4 item {{ product.category }}">
            <a href="{% url 'product_detail' product.pk %}"> 
                <img src="{{ product.imageURL }}">
            </a>
            <h4>{{ product.name }}</h4>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <i class="far fa-star"></i>
            </div>
            <p>${{ product.price }}</p>

            <!-- buttons to be deleted / added in detail_view -->
            <button data-product={{ product.id }} data-action="add" class="update-cart test-btn">+</button>
        </div>
        {% endfor %}
    </div>

    <div class="page-btn">
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>&#8594;</span>
    </div>
</div>



<!-- ----------------------------------------------------------------------------------- -->
<!-- pagination -->
<div class="text-center">
    {% if is_paginated %}

    {% if page_obj.has_previous %}
    <a class="btn btn-outline-primary mb-4" href="?page=1">First</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">-</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">+</a>
    <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

    {% endif %}
</div>
{% endblock content %}
<!-- ----------------------------------------------------------------------------------- -->

{% block script %}
<script>
    document.querySelector('#store').classList.add('active');

    // jQuery - category
    $(document).ready(function () {

        $('#1').click(function () {
            if ($('.item').hasClass('1')) {
                $('.1').toggleClass('hidden');
            }
        })

        $('#4').click(function () {
            if ($('.item').hasClass('4')) {
                $('.4').toggleClass('hidden');
            }
        })

        $('#5').click(function () {
            if ($('.item').hasClass('5')) {
                $('.5').toggleClass('hidden');
            }
        })
        $('#6').click(function () {
            if ($('.item').hasClass('6')) {
                $('.6').toggleClass('hidden');
            }
        })
        $('#10').click(function () {
            if ($('.item').hasClass('None')) {
                $('.None').toggleClass('hidden');
            }
        })
    })
</script>
{% endblock script %}