{% extends 'store/base.html' %}
{% load crispy_forms_tags %}

{% block content %}




<div class="account-page" style="height: 57.1vh">
    <div class="container">
        <div class="row">

            <div class="box-element1 box-element2 dark2">
                <form action="" method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Reset Password</legend>
                        {{ form|crispy }}
                    </fieldset>

                    <div>
                        <button class="btn btn-primary btn-block" type="submit">Request Password Reset</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>











{% endblock content %}