{% extends 'store/base.html' %}

{% block content %}
<div class="account-page">
    <div class="container" style="height:46.8vh">


            <div class="alert alert-info">
                Password has been updated!
            </div>
            <p style="color: white"> The page will be redirect in <span id="countdowntimer">3 </span> seconds</p>


    </div>
</div>
{% endblock content %}


{% block script %}
<script type="text/javascript">
    // countdown every second for 3 seconds
    let timeleft = 3;
    let downloadTimer = setInterval(function () {
        timeleft--;
        document.getElementById("countdowntimer").textContent = timeleft;
        if (timeleft <= 0)
            clearInterval(downloadTimer);
    }, 1000);

    // redirect page after 3 seconds
    setTimeout(function () {
        window.location.href = "{% url 'home' %}";
    }, timeleft * 1000);
</script>
{% endblock script %}